<div id="af_insta_slider"></div>

{% schema %}
 {
   "name": "AllFetch Instagram Slider",
   "settings":[
        {
            "id": "text-box",
            "type": "text",
            "label": "Notice",
            "default": "Please Save and Reload"
         }
   ],
   "presets":[
       {
           "name":"AllFetch Instagram Slider",
           "category":"AllFetch Instagram"
       }
   ]
 }
{% endschema %}